.root {
    -fx-font-family: "Lucida Console";
    -fx-background-color: #d37506;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-padding: 10 10 10 10;
}

Text {
    -fx-font-smoothing-type: lcd;
    -fx-fill: white;
    -fx-font-size: 11pt;
}

Label {
    -fx-font-smoothing-type: lcd;
    -fx-fill: white;
    -fx-font-size: 11pt;
}

.button {
    -fx-background-color:  #d3d3cb;
    -fx-background-radius: 30;
    -fx-text-fill: black;
}

.list-view {
    -fx-background-color: #d37506;
    -fx-text-fill: black;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #d3d3cb;
}

.list-cell:even {
    -fx-background-color: #d37506;
}
.list-cell:odd {
    -fx-background-color: #d37506;
}

.text-field {
    -fx-background-color: transparent;
}
.text-field:focused {
    -fx-background-color: transparent;
}
